*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 40px;
    
}
.navbar a{
    font-size: medium;
}
.navbar-brand{
    margin-left: 200px;
}
.btn{
    height: 30px;
    text-align: center;
    padding-bottom: 25px;
    width: 9%;
    font-size: small;
    margin-left: 600px;
}
.options{
    background-color: black;
    color: white;
    width: 10%;
    border-radius: 5px;
    border: none;
    font-size: small;
}
option{
    font-size: small;
    padding: 5px;

}
.handicon{
    border: 1px solid;
    margin-left: 0px;
}